cmake_minimum_required(VERSION 3.2)

project(QAppWrite)

find_package(Qt6 REQUIRED COMPONENTS Core Network Gui)

include(GNUInstallDirs)
include(CMakePackageConfigHelpers)

add_library(${PROJECT_NAME}
# HEADERS:

{{#models}}
{{#model}}
  src/model/{{classname}}.h
{{/model}}
{{/models}}
{{#apiInfo}}
{{#apis}}
{{#operations}}
  src/api/{{classname}}.h
{{/operations}}
{{/apis}}
{{/apiInfo}}
  src/{{prefix}}Helpers.h
  src/{{prefix}}HttpRequest.h
  src/{{prefix}}Object.h
  src/{{prefix}}Enum.h
  src/{{prefix}}HttpFileElement.h
  src/{{prefix}}ServerConfiguration.h
  src/{{prefix}}ServerVariable.h
  src/{{prefix}}Oauth.h

# SOURCES:

{{#models}}
{{#model}}
  src/model/{{classname}}.cpp
{{/model}}
{{/models}}
{{#apiInfo}}
{{#apis}}
{{#operations}}
  src/api/{{classname}}.cpp
{{/operations}}
{{/apis}}
{{/apiInfo}}
  src/{{prefix}}Helpers.cpp
  src/{{prefix}}HttpRequest.cpp
  src/{{prefix}}HttpFileElement.cpp
  src/{{prefix}}Oauth.cpp
  )

target_include_directories(${PROJECT_NAME}
    PUBLIC
        $<BUILD_INTERFACE:${CMAKE_CURRENT_SOURCE_DIR}>
        $<INSTALL_INTERFACE:${CMAKE_INSTALL_INCLUDEDIR}>
)

target_link_libraries(${PROJECT_NAME}
    PUBLIC
        Qt6::Core
        Qt6::Network
        Qt6::Gui
    {{#contentCompression}}
    PRIVATE
        ${ZLIB_LIBRARIES}{{/contentCompression}}
)

configure_package_config_file(${CMAKE_CURRENT_SOURCE_DIR}/Config.cmake.in
    "${CMAKE_CURRENT_BINARY_DIR}/${PROJECT_NAME}Config.cmake"
    INSTALL_DESTINATION "${CMAKE_INSTALL_LIBDIR}/cmake/${PROJECT_NAME}"
)

install(
    TARGETS ${PROJECT_NAME}
    EXPORT ${PROJECT_NAME}Targets
    LIBRARY DESTINATION "${CMAKE_INSTALL_LIBDIR}"
    ARCHIVE DESTINATION "${CMAKE_INSTALL_LIBDIR}"
    RUNTIME DESTINATION "${CMAKE_INSTALL_BINDIR}"
    INCLUDES DESTINATION "${CMAKE_INSTALL_INCLUDEDIR}/${PROJECT_NAME}"
)

install(
    FILES ${HEADER_FILES}
    DESTINATION ${CMAKE_INSTALL_INCLUDEDIR}/${PROJECT_NAME}
)

install(
    FILES "${CMAKE_CURRENT_BINARY_DIR}/${PROJECT_NAME}Config.cmake"
    DESTINATION ${CMAKE_INSTALL_LIBDIR}/cmake/${PROJECT_NAME}
)

install(
    EXPORT ${PROJECT_NAME}Targets
    DESTINATION ${CMAKE_INSTALL_LIBDIR}/cmake/${PROJECT_NAME}
)
